<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Gachi-Itta</title>
</head>
<body>
<h1>가치 읻다</h1>
<h2>포모도로 같이 할 사람? 스터디 같이 할 사람?</h2>
<!-- 로그인 영역 -->
<div>
    <div>
        {{#loginUserName}}
            <img src="{{profileImage}}" width="30px;" height="30px;">
            <span id="user">{{loginUserName}}님</span>
            <a href="/logout" role="button">Logout</a>
        {{/loginUserName}}
        {{^loginUserName}}
            <a href="/oauth2/authorization/google" role="button">Google 로그인</a>
        {{/loginUserName}}
    </div>
</div>
</body>
</html>